<section class="navbar navbar--top">
  <div>
    <h2>{{ storageSvc.titleSidebar }}</h2>
  </div>
  <div class="icons-section">
    <button
      type="button"
      class="pointer expand-button button-icon"
      (click)="isExpanded = !isExpanded"
    >
      <i
        class="fa-solid fa-arrow-right icon"
        [ngClass]="{ 'expanded-icon': !!isExpanded }"
      ></i>
    </button>
  </div>
</section>
<section class="navbar navbar--bot">
  <div class="routes-section">
    <div>
      <!-- <app-list-badged></app-list-badged> -->
    </div>
  </div>
  <div class="icons-section">
    <div class="list-icons">
      <section *ngFor="let numProject of list; let i = index" class="area-icon">
        <span class="icon">{{ i + 1 }}</span>
      </section>
    </div>
  </div>
</section>
