.card {
  border-radius: $border-radius-primary;
  border: solid 2px $darkgrey;
  background: $light;
  padding: 15px;
  margin: 10px;
  transition: border 500ms ease;
  box-shadow: $shadow-secondary;
  transition: opacity ease 300ms;


  &.card-hover:hover {
    opacity: 0.95;
    border: 2px solid $lightblue;
    cursor: pointer;
    .card-child-hover {
      border: 2px solid $lightblue !important;
    }
  }
  &.card-child-hover {
    transition: border 500ms ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
