<!--? ENLACES A PUNTOS DE INTERES SOBRE MÍ -->
<div [ngSwitch]="position">
  <!-- ? Links Abajo - DEFAULT -->
  <ng-container *ngSwitchCase="'bottom'">
    <nav class="links">
      <div
        *ngFor="let link of links"
        class="card card-hover link pointer"
        [class]="link.field"
        (click)="clickLink(link.type)"
      >
        {{ link.text }}
        <div class="flex-break-line"></div>
        <i [class]="link.iconClass"></i>
      </div>
    </nav>
  </ng-container>

  <!--NOTE LINKS EN OTRAS POSICIONES SIN IMPLEMENTAR -->
  <div *ngSwitchCase="'left'"></div>
  <div *ngSwitchCase="'right'"></div>
  <div *ngSwitchCase="'top'"></div>
</div>
