@use "/src/assets/styles/vars" as *;

.links {
  display: flex;
  justify-content: space-between;
  > * {
    width: 18%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    color: $light;
  }
  .email {
    background: $linear-opacity-background,
      url("../../../../assets/images/pics/email.jpg") no-repeat;
    background-size: cover;
  }
  .github {
    background: $linear-opacity-background,
      url("../../../../assets/images/pics/github.jpg") no-repeat;
    background-size: cover;
  }
  .portafolios {
    background: $linear-opacity-background,
      url("../../../../assets/images/pics/portafolios.jpg") no-repeat;
    background-size: cover;
  }
  .linkedin {
    background: $linear-opacity-background,
      url("../../../../assets/images/pics/linkedin.jpg") no-repeat;
    background-size: cover;
  }
  .certificates {
    background: $linear-opacity-background,
      url("/assets/images/pics/certificate.jpg") no-repeat;
    background-size: cover;
  }
  .curriculum {
    background: $linear-opacity-background,
      url("/assets/images/pics/curriculum.jpg") no-repeat;
    background-size: cover;
  }
}
