@use "/src/assets/styles/vars" as *;

:host {
  .nav-container {
    align-items: center;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px;
    padding: 0 10px;
    font-weight: 600;

    h1 {
      all: unset;
      position: relative;
      z-index: 3;
      transition: all ease 300ms;
      &:hover {
        color: $blue-primary;
        cursor: pointer;
      }
    }
    .logo {
      overflow: visible;
      justify-self: center;
      height: 240%;
      display: flex;
      align-content: flex-end;
      border-radius: 100%;
      background-color: $blackgrey;
      margin-top: -210px;
      transition: transform ease 500ms;
      padding: 100px;
      position: relative;
      z-index: 3;
      .logo-image {
        margin-top: 130px;
        height: 100%;
        transition: scale ease 500ms, transform ease 500ms;
        &:hover {
          scale: calc(1.3);
          transform: translatey(-20px);
        }
      }
      &:has(.logo-image:hover) {
        transform: translatey(50px);
      }
    }
    .searcher {
      display: flex;
      flex-direction: row;
      justify-self: end;

      .input-search {
        all: unset;
        border-radius: 15px 0 0 15px;
        border: 2px solid $lightgrey;
        background: $background-grey-light;
        color: $darkgrey;
        border-right: none;
        padding-left: 15px;
        padding-right: 5px;
        transition: all 300ms ease;
        &:focus {
          border: 2px solid $blue-primary;
          border-right: none;
          & + .btn-search {
            border: 2px solid $blue-primary;
            border-left: none;
          }
        }
      }
      & .btn-search {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 45px;
        border: $lightgrey 2px solid;
        border-left: none;
        box-shadow: $shadow-secondary;
        border-radius: 0 15px 15px 0;
        background: $background-primary-inverse;
        transition: all 300ms ease;
        &:hover {
          opacity: 0.8;
          color: $lightblue;
        }
      }

      &:has(.btn-search:hover) .input-search {
        // opacity: 0.8;
        color: $blue-primary;
      }
    }
  }
}
