<div class="nav-container">
  <div class="title">
    <h1>
      <a [routerLink]="['/']">{{ title }}</a>
    </h1>
  </div>
  <div class="logo" (click)="onClickLogo()">
    <img
      src="../../../../assets/images/logos/Cartago_logo.png"
      class="logo-image pointer"
      alt="Logotipo de Cartago"
      (click)="onClickLogo()"
    />
  </div>
  <div class="searcher">
    <input type="text" [placeholder]="inputSearcherPlaceholder" />
    <div class="pointer" (click)="onClickSearcher()">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</div>
