<section class="nav-container">
  <div class="title">
    <h1 [routerLink]="['/']">
      {{ title }}
    </h1>
  </div>
  <div class="logo" [routerLink]="['/']">
    <img
      src="../../../../assets/images/logos/Cartago_logo.png"
      class="logo-image pointer"
      alt="Logotipo de Cartago"
      [routerLink]="['/']"
    />
  </div>
  <div class="searcher">
    <input
      class="input-search"
      spellcheck="false"
      type="text"
      [placeholder]="inputSearcherPlaceholder"
    />
    <div class="btn-search pointer" (click)="onClickSearcher()">
      <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</section>
