@use "/src/assets/styles/vars" as *;

.home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  text-align: center;
  overflow: auto;
  .curso-home {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 44px 44px auto;

    .contenido-curso {
      color: $light;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      border-color: $lightgrey;
      background: $linear-opacity-background,
        url("../../../../assets/images/logos/redux-rxjs-ngrx.png");
      background-size: contain;
      .img-ngrx {
        border-radius: 15px;
        width: 40%;
      }
    }
  }
  .projects-home {
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
    display: grid;
    grid-template-rows: 44px 44px 1fr;
  }
  .contacto-home {
    grid-column: span 2/3;
    grid-row: 2;

    
  }
}
