:host {
  width: 100%;
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }
  .button-to-up {
    position: absolute;
    right: 20px;
    bottom: 10px;
    .icon{
      transform: rotate(-90deg);
    }
  }
}
