@use "/src/assets/styles/vars" as *;

:host::ng-deep {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 60px 480px 1fr;
  grid-template-rows: 80px 1fr;
  background-color: $blackgrey;
  color: $light;
  .container {
    background: $background-primary;
    grid-column: 2 / span 3;
    grid-row: 2;
    border-radius: 20px 0 0 0;
    color: $darkgrey;
    scrollbar-gutter: stable both-edges;
    &:last-child {
      overflow-y: auto;
      overflow-x: hidden;
      &> * > * {
        padding-top: 50px;
      }
    }
  }
  .topbar {
    grid-column: 2 / span 3;
    grid-row: 1;
  }
  .sidebar {
    grid-column: span 2 /3;
    grid-row: 1 / span 2;
    height: 100%;
  }
}
